<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart - EcoGlow</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<div class="header">
    <div class="logo-section">
        <a href="index.html">
            <img src="/static/logo.png" alt="GlowShop Logo" style="height: 40px;">
        </a>
        <h1>GlowShop</h1>
    </div>
    <div class="nav-links">
        <a class="headerlink" href="delivery.html">Delivery</a>
        <a class="headerlink" href="cart.html">Cart</a>
    </div>
</div>

<main class="cart-page">
    <h2>Items in your Cart</h2>

    <div id="cart-list">
        <p>Your cart is currently empty.</p>
    </div>

    <div class="cart-summary">
        <hr>
        <h3>Total: $<span id="total-price">0</span></h3>
        
        <button onclick="window.location.href='delivery.html'" class="checkout-btn">
            Proceed to Delivery
        </button>
        
        <br>
        <button><a href="index.html">Back to Shop</a></button>
    </div>
    <!--The main task here it is to calculate the total value of the products in the cart using js-->
</main>
</body>
</html>