<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home</title>
</head>
<div class="header">
    <a href="index.html"><img src="LOGO OF THE SHOP GOES HERE" alt="LOGO">HERE IS NEED TO BE LOGO</a>
    <h1>EcoGlow</h1>
    <a href="cart.html">Cart</a>
    <a href="delivery.html">Delivery</a>
</div>
<body>
<div class="productContainer">
    <!--    First item goes here      -->
    <div class="product-card">
        <div class="product-image">
            <img src="1ITEMIMAGESOURCE" alt="NAMEOFTHEPRODUCTGOESHERE">
        </div>
        <div class="product-info">
            <h3>NAMEOFTHEPRODUCT</h3>
            <p class="price">PUTHERESOMEPRICE</p>
            <button type="button" class="add-to-cart">Add To Cart</button>
        </div>
    </div>

    <!--    Second item goes here      -->
    <div class="product-card">
        <div class="product-image">
            <img src="2ITEMIMAGESOURCE" alt="NAMEOFTHEPRODUCTGOESHERE">
        </div>
        <div class="product-info">
            <h3>NAMEOFTHEPRODUCT</h3>
            <p class="price">PUTHERESOMEPRICE</p>
            <button type="button" class="add-to-cart">Add To Cart</button>
        </div>
    </div>

    <!--    Third item goes here      -->
    <div class="product-card">
        <div class="product-image">
            <img src="3ITEMIMAGESOURCE" alt="NAMEOFTHEPRODUCTGOESHERE">
        </div>
        <div class="product-info">
            <h3>NAMEOFTHEPRODUCT</h3>
            <p class="price">PUTHERESOMEPRICE</p>
            <button type="button" class="add-to-cart">Add To Cart</button>
        </div>
    </div>
</div>
</body>
</html>