<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home</title>
</head>
<div class="header">
    <div class="logo-section">
        <a href="index.html">
            <img src="logo.png" alt="EcoGlow Logo" style="height: 40px;">
        </a>
        <h1>EcoGlow</h1>
    </div>
    <div class="nav-links">
        <a class="headerlink" href="delivery.html">Delivery</a>
        <a class="headerlink" href="cart.html">Cart</a>
    </div>
</div>
<body>
<div class="product">
    <img src="SOME" alt="">
    PR
</div>
</body>
</html>