<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Home</title>
</head>
<div class="header">
    <div class="logo-section">
        <a href="index.html">
            <img src="/static/logo.png" alt="EcoGlow Logo" style="height: 100px;"width="200">
        </a>

    </div>
    <div class="nav-links">
        <a class="headerlink" href="cart.html">Cart</a>
    </div>
</div>
<body>
<div class="productContainer">
    <!--    First item goes here      -->
    <div class="product-card">
        <div class="product-image">
            <img class="item-img" src="/static/1.webp" alt="Sweater">
        </div>
        <div class="product-info">
            <h3>Stone Island</h3>
            <p class="price1">179.99$</p>
            <p>Amount: <input class="amount1" type="number"></p>
            <p></p>
            <button type="button" class="add-to-cart" onclick="addToCart1()">Add To Cart</button>
        </div>
    </div>

    <!--    Second item goes here      -->
    <div class="product-card">
        <div class="product-image">
            <img class="item-img" src="/static/2(2).webp" alt="Pants">
        </div>
        <div class="product-info">
            <h3>Balenciaga pants</h3>
            <p class="price2">899.99$</p>
            <p>Amount: <input class="amount2" type="number"></p>
            <p></p>
            <button type="button" class="add-to-cart" onclick="addToCart2()">Add To Cart</button>
        </div>
    </div>

    <!--    Third item goes here      -->
    <div class="product-card">
        <div class="product-image">
            <img class="item-img" src="/static/3.webp" alt="Sneakers">
        </div>
        <div class="product-info">
            <h3>OFF-WHITE Sneakers</h3>
            <p class="price3">495.95$</p>
            <p>Amount: <input class="amount3" type="number"></p>
            <p></p>
            <button type="button" class="add-to-cart" onclick="addToCart3()">Add To Cart</button>
        </div>
    </div>

    <script src="../scripts/index.js"></script>
    <!--The main task here its to make the add buttomn active so that when user will click it the item and info of it will be saved to local storage-->
</div>
</body>
</html>